* {box-sizing: border-box;}
body {font-family: 'Gilroy', serif;
 margin: 0;
 text-align: center
}
h2 {font-weight: normal;color: #6A5953}
p {
font-size: 1.1em; display:inline-block;
line-height:1.1;
 margin: 0;
}
.backblock {
  display: inline-block;
  margin: 0 0px 2em 0;
  background: rgba(228, 225, 228, .5);
}
div {
  width: 170px;
  height: 100px;
  line-height: 100px;
   margin: 0  200;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
 div.block1{
  background: rgba(135, 86, 120, .4);
  }
div.block1:hover {
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -webkit-transform: translateY(20px);  
  transform: translateY(20px);
}
div.mainblock2{
  background: rgba(255, 153, 0, .4);
}
div.mainblock2:hover {
  -o-transform: translate(-20px, 20px);
  -ms-transform: translate(-20px, 20px);
  -moz-transform: translate(-20px, 20px);
  -webkit-transform: translate(-20px, 20px);
  transform: translate(-20px, 20px);
} 
.spinner {
  color: rgba(135, 86, 120, .4);
  display: flex;
  align-items: 300;
  justify-content: center;
  min-height: 100vh;
}

.spinner:after {
  animation: changeContent .8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 80px;
}

@keyframes changeContent {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}